.container {
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
  background-color: rgba(255, 255, 255, 0.5); /* Background color with transparency */
  width: 70%; /* Set the width of the container to 80% of the viewport */
  height: 80vh; /* Set the height of the container to 80% of the viewport height */
  margin-left:14%;
}

.customer-address {
  text-align: center; /* Align text to the left */
  border: 1px solid #000000;
  padding: 20px;
  width: 70%; /* Set the width of the form */
  background-color: rgba(255, 255, 255, 0.8); /* Background color with transparency */
}

.customer-address span{
  color:red;
}