<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <h2 style="font-size:70px;margin-left:35%;margin-bottom:-5% ;">Place Your Address</h2>
    <div class="container" style="margin-bottom:-30%;">
      <div class="customer-address">
          <div>
            <label for="nameInput">Name:</label>
            <input type="text" placeholder="Name" id="nameInput" required pattern="[a-zA-Z ]*" [(ngModel)]="customer.name" #nameInput="ngModel">
            <div *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="error-message">
              <span *ngIf="nameInput.errors?.['required']">Name is required.</span>
              <span *ngIf="nameInput.errors?.['pattern']">Name must contain only letters and spaces.</span>
            </div>
          </div>
          <br><br>
          <div>
              <label>Mobile:</label>
              <input Mobilevalidate type="tel" placeholder="Mobile" required pattern="[0-9]{10}" #mobileInput="ngModel" [(ngModel)]="customer.mobile" >
              <div *ngIf="mobileInput.invalid && (mobileInput.dirty || mobileInput.touched)"  >
                <span *ngIf="mobileInput.errors?.['required']">Mobile number is required.</span>
                <span *ngIf="mobileInput.errors?.['invalidLength']">Invalid mobile number format. Please enter a 10-digit number.</span>
              </div>
          </div>
          
          <br><br>
          <div>
              <label for="addressInput">Address:</label>
              <input type="text" placeholder="Address" id="addressInput" required pattern="[a-zA-Z0-9 .,-]*" [(ngModel)]="customer.address" #addressInput="ngModel">
              <div *ngIf="addressInput.invalid && (addressInput.dirty || addressInput.touched)" class="error-message">
                <span *ngIf="addressInput.errors?.['required']">Address is required.</span>
                <span *ngIf="addressInput.errors?.['pattern']">Invalid address format. Please enter a valid address.</span>
              </div>
          </div>      
          <br><br>
          <div>
              <label for="cityInput">City:</label>
              <input type="text" placeholder="City" id="cityInput" required pattern="[a-zA-Z ]*" [(ngModel)]="customer.city" #cityInput="ngModel">
              <div *ngIf="cityInput.invalid && (cityInput.dirty || cityInput.touched)" class="error-message">
                 <span *ngIf="cityInput.errors?.['required']">City is required.</span>
                <span *ngIf="cityInput.errors?.['pattern']">City must contain only letters and spaces.</span>
              </div>
          </div>
          <br><br>
          <div>
              <label for="stateInput">State:</label>
              <input type="text" placeholder="State" id="stateInput" required pattern="[a-zA-Z ]*" [(ngModel)]="customer.state" #stateInput="ngModel">
              <div *ngIf="stateInput.invalid && (stateInput.dirty || stateInput.touched)" class="error-message">
                <span *ngIf="stateInput.errors?.['required']">State is required.</span>
                <span *ngIf="stateInput.errors?.['pattern']">State must contain only letters and spaces.</span>
            </div>
          </div>
          <br><br>
          <div>
            <button (click)="saveCustomer()" style="margin-left:5%;border-radius:10%;">Confirm Address and Pay ${{total}}</button>

          </div>
      </div>
      </div>
</form>

  
  