
<form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <h2>Forgot Password</h2>
    <div class="box">
        <label>Email Address</label>
        <input type="text" name="email" id="email" ngModel #email="ngModel">
        <div class="error" id="emailErr"></div>
    </div>
    <div class="box">
        <label>Old Password</label>
        <input type="password" name="oldpw"  id="oldpw" ngModel #oldpw="ngModel">
        <div class="error" id="mobileErr"></div>
    </div>
    <div class="box">
        <label>New password</label>
        <input type="password" name="newpw" id="newpw" ngModel #newpw="ngModel">
    </div>
            
    <div class="box">
        <input type="submit" value="Submit">
    </div>
    <div  class="box" >{{msg}}</div>
    <div>
        <a routerLink="/home" style="padding-left: 32%;">BACK TO HOME</a>
    </div>
</form>