
<body [style.background-image]="'url(' + imageUrl + ')'">
    <div class="container">
        <header>
            <h1>Contact Us</h1>
        </header>
        <div class="content" style="margin-left:-8.5%;">
            <div class="content-form">
                <section>
                    <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                    <h2>Address</h2><br>
                    <p>
                        35,Gandhi Nagar. <br>
                        Bangalore
                    </p>
                </section>
    
                <section>
                    <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                    <h2>Phone</h2><br>
                    <p>1234567890</p>
                </section>
    
                
            </div>
        </div>
    
        <form >
            <div class="form" style="margin-top:1%;margin-right:0%;">
                <div class="right">
                <div class="contact-form">
                    <input type="text" required>
                    <span style="color:black;font-weight:bold;font-size:20px;"> Full Name</span>
                </div>
    
            <div class="contact-form">
                <input type="E-mail" required>
                <span style="color:black;font-weight:bold;font-size:20px;">E-mail Id</span>
            </div>
            <div class="contact-form">
                <textarea name="text">
                    
                </textarea>
                <span style="color:black;font-weight:bold;font-size:20px;"> Type your Message....</span>
            </div>
    
            <div class="contact-form">
            <input type="submit" name="submit">
            <a style="color:black;font-weight:bold;font-size:20px;"routerLink="/home">Back to Home</a>
            </div>
            </div>
        </div>
        </form>
        <div class="media">
            <li><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></li>
            <li><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></li>
            <li><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></li>
            <li><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></li>
        </div>
        <div class="empty">
    
        </div>
    </div>
</body>
