<body>

    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'Shopping')">Shopping</button>
        <button class="tablinks" onclick="openTab(event, 'MyOrders')">My Orders</button>
        <button class="tablinks" onclick="openTab(event, 'ChangePassword')">Change Password</button>
        <button class="tablinks" onclick="openTab(event, 'Logout')">Logout</button>
    </div>
    
    <div id="Shopping" class="tabcontent">
        <h3>Shopping</h3>
        <p>This is the shopping tab content.</p>
    </div>
    
    <div id="MyOrders" class="tabcontent">
        <h3>My Orders</h3>
        <p>This is the my orders tab content.</p>
    </div>
    
    <div id="ChangePassword" class="tabcontent">
        <h3>Change Password</h3>
        <p>This is the change password tab content.</p>
    </div>
    
    <div id="Logout" class="tabcontent">
        <h3>Logout</h3>
        <p>This is the logout tab content.</p>
    </div>
    
    
    
    </body>