<body>
    <div class="container" style="width:100%;">
        <div class="a1">
            <img src="../../assets/img/[removal.ai]_50e8305e-4b5d-442d-bb1b-594e3eb0f407-logo-1.png">
            <h1>Melt <span class="in">In</span> Ice-creams</h1>
            <a style=" padding-right:1%;" routerLink="/home">HOME</a>
        </div>
        <br>
        <header>
            <div class="shopping">
                <img src="../../assets/img/shopping.png" onclick="view()">
                <span class="quantity" style="margin-left:19.6%;margin-top:2%;">0</span>
            </div>
        </header>
        <div class="list" style="width:100%;justify-content: center;"></div>
    </div>
    <div class="card">
        <h1>Shopping Cart</h1>
        <ul class="listCard"></ul>
        <div class="checkout">
            <div class="total">Price:0</div>
            <div class="total"><a routerLink="/pay">PAY</a></div>
            <div class="closeShopping">CLOSE</div>
        </div>
    </div>
</body>
